* {
  font-family:Arial, Helvetica, sans-serif
}

body{
  background-color: #c6c6c6;
  margin: 0px;
}

p {
  margin: 0px;
}

.wrap {
  background-color: white;
  width: 375px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.instagram {
  width: 100%;
  height: 550px;

  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 50px 375px 1fr;
  grid-template-areas: 
  "header"
  "img"
  "footer";

  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.header {
  grid-area: header;
  width: auto;
  height: auto;
  margin: 5px 10px;
  font-size: 12px;
  font-weight: bold;
}

.header-left {
  float: left;
  display: flex;
  align-items: center;
}

.header-img {
  border: 1px solid lightgray;
  border-radius: 50%;
  margin-right: 10px;
}

.header-right {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

.right-menu {
  cursor: pointer;
  user-select: none;
}

.img {
  grid-area: img;
  width: 100%;
  height: 100%;

}

.footer {
  grid-area: footer;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 50px auto auto;
  grid-template-areas: 
  "top-left top-center top-right"
  "like like like"
  "comment comment comment";
}

.top-left {
 grid-area: top-left; 
 display: flex;
 font-size: 10px;
 width: 100%;
 height: 100%;
 align-items: center;
 justify-content: space-around;
}

.top-left span{
  cursor: pointer;
}

.top-left span:nth-of-type(1):hover {
  color: red;
}

#fill-heart {
  display: none;
  fill: red;
}

.top-center {
  grid-area: top-center; 
  display: flex;
  font-size: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
 }

 .top-right {
  grid-area: top-right; 
  display: flex;
  font-size: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
 }

 .like {
  grid-area: like;
  font-size: 12px;
  margin: 0px 10px;
 }

 .comment {
  grid-area: comment;
  font-size: 11px;
  margin: 0px 10px;
 }

 li {
  width: 5.5px;
  height: 5.5px;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-color: lightgray;
 }

 li:nth-child(1) {
  background-color: skyblue;
 }

 ul {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  list-style:none;
  width: 50%
 }